<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\Users\folgate001\Desktop\AirCaddy.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>206.180.209.248/AirCaddy</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Abc" Order="1" Enabled="False">
          <Destination Path="Data Source=206.180.209.248;Initial Catalog=AirCaddyDB;Integrated Security=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AirCaddy.Root_Models.ApplicationDbContext, AirCaddy" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AirCaddyDataEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=206.180.209.248;Initial Catalog=AirCaddyDB;Integrated Security=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AirCaddy.Data.AirCaddyDataEntities, AirCaddy.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="AirCaddyDataEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/AirCaddyDataEntities.csdl|res://*/AirCaddyDataEntities.ssdl|res://*/AirCaddyDataEntities.msl;provider=System.Data.SqlClient;provider connection string="Data Source=206.180.209.248;Initial Catalog=AirCaddyDB;Integrated Security=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Abc-Web.config Connection String">
      <ParameterValue>Data Source=206.180.209.248;Initial Catalog=AirCaddyDB;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>