@model AirCaddy.Domain.ViewModels.GolfCourses.CourseOverviewViewModel

@{
    ViewBag.Title = "Explore";
}

<link href="~/Content/GolfCourses/golfcourses.explore.css" rel="stylesheet"/>

<div class="container bg-overlay">
    <div class="row text-center">
        <div class="container">
            <h1 class="overlay-cover-main"><span data-bind="text: courseName"></span>
            </h1>
            <hr/>           
        </div>
        <h2 class="overlay-cover-sub virt-tour">Yelp Average Score: (<span data-bind="text: averageRating"></span> / 5)</h2>
        <button data-bind="click: takeVirtualTour" class="btn btn-lg btn-primary">Take Virtual Tour!</button>
    </div>
</div>

<div class="text-center">
    <h2>What People Have to Say About... <strong><span data-bind="text: courseName"></span></strong></h2>   
    <hr/>
</div>

<div data-bind="foreach: courseYelpReviews" class="container col-xs-12">
    <button data-bind="click: toggleReview" class="accordion"><strong><span data-bind="text: user"></span></strong>&nbsp;&nbsp;&nbsp;Rating - (<span data-bind="text: rating"></span> / 5)</button>
    <div data-bind="visible: reviewVisibleFlag" class="container panel col-xs-12">
        <div class="row panel-cover">
            <div class="col-xs-1">
                <p><strong>Review: </strong></p>
            </div>
            <div class="col-xs-11">
                <p data-bind="text: reviewText"></p>
            </div>
        </div>
    </div>  
</div>

<script src="~/Scripts/App/GolfCourses/golfcourses.yelpreview.js"></script>
<script src="~/Scripts/App/GolfCourses/golfcourses.explore.viewmodel.js"></script>
<script>
    $(document).ready(function () {
        var model = @Html.Raw(Json.Encode(Model));
        var virtualTourLink = '@Url.Action("VirtualTour", "GolfCourses")';
        var viewModel = new golfCoursesExploreViewModel(model, virtualTourLink);
        ko.applyBindings(viewModel);
    });
</script>