<!--Upload Modal-->
<div class="modal fade" id="uploadPopUp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Upload Footage: <span data-bind="text: courseName"></span> <strong>(Hole <span data-bind="text: holeInFocus"></span>)</strong>
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <input data-bind="event: { change: function() { uploadVideo($element.files[0]) } }" type="file"/>                       
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="cancelUploadBtn" data-bind="click: hideUploadModal" type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                <button data-bind="click: submitUpload" id="uploadFootageBtn" type="button" class="btn btn-primary">UPLOAD</button>
            </div>
        </div>
    </div>
</div>

<!--Delete Modal-->
<div class="modal fade" id="deletePopUp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    Delete Footage: <span data-bind="text: courseName"></span> <strong>(Hole <span data-bind="text: holeInFocus"></span>)</strong>
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>Are you sure you want to do this action?</h3>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-bind="click: hideDeleteModal"class="btn btn-default" data-dismiss="modal">OK</button>
                <button data-bind="click: submitDelete" id="deleteFootageBtn" type="button" class="btn btn-danger">DELETE</button>
            </div>
        </div>
    </div>
</div>

<!--Modify Modal-->
<div class="modal fade" id="modifyPopUp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    Upload New Footage: <span data-bind="text: courseName"></span> <strong>(Hole <span data-bind="text: holeInFocus"></span>)</strong>
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>This will overwrite your current video uploaded.</h3>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-bind="click: hideModifyModal" class="btn btn-default" data-dismiss="modal">OK</button>
                <button data-bind="click: submitModify" id="modifyBtn" type="button" class="btn btn-danger">DELETE</button>
            </div>
        </div>
    </div>
</div>