@model AirCaddy.Domain.ViewModels.GolfCourses.ManageCourseViewModel

@{
    ViewBag.Title = "ManageMyCourse";
}

<link href="~/Content/GolfCourses/golfcourses.managemycourse.css" rel="stylesheet" />

<div id="modalSection">
    @Html.Partial("ManageMyCourseModals")
</div>

<div id="mainArea" class="container">
    <div class="row">
        <div class="col-xs-2 col-sm-2 pull-left" id="sidebar" role="navigation">
            <div class="">
                <ul class="nav">
                    <li class="active" data-bind="click: changeHoleInFocus.bind($data, 1)"><a href="#">Hole 1</a></li>
                    <li data-bind="click: changeHoleInFocus.bind($data, 2)"><a href="#">Hole 2</a></li>
                    <li data-bind="click: changeHoleInFocus.bind($data, 3)"><a href="#">Hole 3</a></li>
                    <li data-bind="click: changeHoleInFocus.bind($data, 4)"><a href="#">Hole 4</a></li>
                    <li data-bind="click: changeHoleInFocus.bind($data, 5)"><a href="#">Hole 5</a></li>
                    <li data-bind="click: changeHoleInFocus.bind($data, 6)"><a href="#">Hole 6</a></li>
                    <li data-bind="click: changeHoleInFocus.bind($data, 7)"><a href="#">Hole 7</a></li>
                    <li data-bind="click: changeHoleInFocus.bind($data, 8)"><a href="#">Hole 8</a></li>
                    <li data-bind="click: changeHoleInFocus.bind($data, 9)"><a href="#">Hole 9</a></li>
                    <li data-bind="click: changeHoleInFocus.bind($data, 10)"><a href="#">Hole 10</a></li>
                    <li data-bind="click: changeHoleInFocus.bind($data, 11)"><a href="#">Hole 11</a></li>
                    <li data-bind="click: changeHoleInFocus.bind($data, 12)"><a href="#">Hole 12</a></li>
                    <li data-bind="click: changeHoleInFocus.bind($data, 13)"><a href="#">Hole 13</a></li>
                    <li data-bind="click: changeHoleInFocus.bind($data, 14)"><a href="#">Hole 14</a></li>
                    <li data-bind="click: changeHoleInFocus.bind($data, 15)"><a href="#">Hole 15</a></li>
                    <li data-bind="click: changeHoleInFocus.bind($data, 16)"><a href="#">Hole 16</a></li>
                    <li data-bind="click: changeHoleInFocus.bind($data, 17)"><a href="#">Hole 17</a></li>
                    <li data-bind="click: changeHoleInFocus.bind($data, 18)"><a href="#">Hole 18</a></li>
                </ul>   
            </div>
        </div>
        <div class="col-xs-10 col-sm-10 pull-right">
            <div class="text-center">
                <h1>Manage <span data-bind="text: courseName"></span></h1>
                <h2><b>Hole : <span data-bind="text: holeInFocus"></span></b></h2>
                <hr/>
            </div>
            
            <div data-bind="visible: uploadCourseFootageAreaVisible">
                <div style="padding-top: 5%;" class="row">
                    <div class="col-xs-12">
                        <h4 style="border-bottom: 1px solid;">Upload Footage: <span data-bind="text: courseName"></span> <strong>(Hole <span data-bind="text: holeInFocus"></span>)</strong></h4>
                    </div>
                    <div class="col-xs-12 text-center">
                        <div style="text-align: center; width: 560px; height: 315px; background-color: #696969; margin: 0 auto; float: none">
                            <div style="padding-top: 25%">
                                <button data-bind="click: showUploadModal" class="btn btn-lg btn-primary"> Upload Course Footage Here </button>                            
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
            
            <div data-bind="visible: uploadingAreaVisible">
                <div style="padding-top: 5%;" class="row">
                    <div style="padding-bottom: 10%;" class="col-xs-12 text-center">
                        <h4>Please wait. Your course footage is uploading.</h4>
                    </div>
                    <div id="uploadSpinArea" class="col-xs-12"></div>
                </div>
            </div>
            
            <div data-bind="visible: manageAreaVisible">
                <div style="padding-top: 5%;" class="row">
                    <div class="col-xs-12">
                        <h4 style="border-bottom: 1px solid;">Your Video: <span data-bind="text: courseName"></span> <strong>(Hole <span data-bind="text: holeInFocus"></span>)</strong></h4>
                    </div>
                    <div class="col-xs-12 text-center">
                        <iframe data-bind="attr: { 'src': currentHoleVimeoApiSrc }" max-width="560" width="100%" height="360" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                    <div class="col-xs-12 text-center">
                        <button class="btn btn-warning">MODIFY</button>
                        <button data-bind="click: showDeleteModal" class="btn btn-danger">DELETE</button>
                    </div>
                </div>                
            </div>
            
            <div data-bind="visible: successfullyUploadedVisible">
                <div class="jumbotron">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <h2><strong>Success&nbsp;&nbsp;</strong><span class="glyphicon glyphicon-check"></span></h2>
                        </div>
                        <div class="col-xs-12">
                            <h3><strong>Your course footage has successfully been uploaded to YouTube.</strong></h3>
                        </div>
                        <div class="col-xs-12 text-center">
                            <button onclick="location.reload()" class="btn btn-primary">Refresh</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div data-bind="visible: failedUploadVisible">
                <div class="jumbotron">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <h2 class="warning-text"><strong>Error&nbsp;&nbsp;</strong><span class="glyphicon glyphicon-warning-sign"></span></h2>
                        </div>
                        <div class="col-xs-12">
                            <h3 class="warning-text"><strong>There was a problem trying to upload your footage to YouTube.</strong></h3>
                        </div>
                        <div class="col-xs-12 text-center">
                            <button onclick="location.reload()" class="btn btn-primary">Refresh</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/spin.js"></script>
<script src="~/Scripts/App/GolfCourses/golfcourses.managecourse.viewmodel.js"></script>
<script>
    $(document).ready(function() {
        var model = @Html.Raw(Json.Encode(Model));
        var viewModel = new manageCourseViewModel(model);
        ko.applyBindings(viewModel);
    })
</script>