@model IEnumerable<AirCaddy.Domain.ViewModels.GolfCourses.GolfCourseViewModel>

@{
    ViewBag.Title = "MyCourses";
}

<div class="text-center col-xs-12">
    <h2>My Courses</h2>
    <hr/>
</div>

<div class="container">
    <table class="table table-striped" id="myCoursesTable">
        <thead>
        <tr>
            <th>Course ID</th>
            <th>Course Name</th>
            <th>Course Address</th>
            <th>Course Phone</th>
            <th>Course Type</th>
            <th class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody data-bind="foreach: myCourses">
        <tr>
            <td data-bind="text: id"></td>
            <td data-bind="text: courseName"></td>
            <td data-bind="text: courseAddress"></td>
            <td data-bind="text: coursePrimaryContact"></td>
            <td data-bind="text: courseType"></td>
            <td><a data-bind="click: manageCourseLink.bind($data, id)" href="#">Manage</a></td>
        </tr>
        </tbody>
    </table>
</div>

<script src="~/Scripts/App/GolfCourses/golfcourses.mycourses.course.js"></script>
<script src="~/Scripts/App/GolfCourses/golfcourses.mycourses.viewmodel.js"></script>
<script>
    $(document).ready(function() {
        var model = @Html.Raw(Json.Encode(Model));
        var viewModel = new myCoursesViewModel(model);
        ko.applyBindings(viewModel);
    });
</script>

