@*model TModel*@

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/GolfCourses/golfcourses.virtualtour.css" rel="stylesheet"/>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-gray w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
  <button class="w3-bar-item w3-button w3-large"
          onclick="w3_close()">Close &times;</button>
  <a href="#" class="w3-bar-item w3-button">Hole 1</a>
  <a href="#" class="w3-bar-item w3-button">Hole 2</a>
  <a href="#" class="w3-bar-item w3-button">Hole 3</a>
  <a href="#" class="w3-bar-item w3-button">Hole 4</a>
  <a href="#" class="w3-bar-item w3-button">Hole 5</a>
  <a href="#" class="w3-bar-item w3-button">Hole 6</a>
  <a href="#" class="w3-bar-item w3-button">Hole 7</a>
  <a href="#" class="w3-bar-item w3-button">Hole 8</a>
  <a href="#" class="w3-bar-item w3-button">Hole 9</a>
</div>


<div id="main">

  <div class="w3-round w3-black">
    <button id="openNav" class="w3-button w3-black w3-xlarge" onclick="w3_open()">&#9776;</button>
    <div class="w3-container">
      <h2>
        <font color="white">Elk Valley Golf Course - Hole 17</font>
      </h2>
    </div>
  </div>

  <br>  </br>
  
  <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <center><iframe max-width="560" width="100%" height="320" src="https://www.youtube.com/embed/_ulDpOPQFlQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></center>   
      </div>
    </div>
  
  <div data-bind="foreach: courseYelpReviews" class="container col-xs-12">
    <center><button data-bind="click: toggleReview" class="accordion"><strong><span data-bind="text: user"></span></strong>&nbsp;&nbsp;&nbsp;Rating - (<span data-bind="text: rating"></span> / 5)</button></center>
    <div data-bind="visible: reviewVisibleFlag" class="container panel col-xs-12">
      <div class="row panel-cover">
        <div class="col-xs-1">
        </div>
      </div>  
    </div>

    <h3>Comments:</h3>
  
    <div class="row">
      <div class="col-sm-9">
        <div class="well">
          <p><strong>John</strong></p>
          <p>Nice course. Very friendly and forgiving greens.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-9">
        <div class="well">
          <p><strong>Bo</strong></p>
          <p>Fairways are pretty straight forward and match with the video footage.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-9">
        <div class="well">
          <p><strong>Jane</strong></p>
          <p>Fun course to play on.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-9">
        <div class="well">
          <p><strong>Anja</strong></p>
          <p>Love it here!</p>
        </div>
      </div>
    </div>     
  </div>
  
  <label> Comment: <br> <br> <textarea></textarea>
  <input data-bind="click: submit" class="btn btn-lg btn-success" type="submit" name="Submit"/>
</label>


<script>
  function w3_open() {
    document.getElementById("main").style.marginLeft = "25%";
    document.getElementById("mySidebar").style.width = "25%";
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("openNav").style.display = 'none';
  }
  function w3_close() {
    document.getElementById("main").style.marginLeft = "0%";
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("openNav").style.display = "inline-block";
  }
</script></div>
