<link href="~/Content/Home/about.primary.css" rel="stylesheet" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<br></br>

<center><img src="~/Content/GolfCourses/AirCaddyLogoNoBackgroundweb.jpg" alt="AirCaddyLogo" style="width:50%;height:25%;"></center>

<br></br>

<h3 class="w3-center">ABOUT AIRCADDY</h3>
<p1><center><i>Who we are</i></center></p1>

<br></br>

<p>AirCaddy is a brand-new web application that is intended to improve course knowledge for every level of golfer. At AirCaddy, we implement state of the art drone footage to record each hole of our partnered golf courses to help the golfer can identify any slopes, sand pits, or water hazards that would not normally be seen from the tee box. With this implementation, golfers will be able to improve their course knowledge with just a few simple clicks.</p>
