@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<link href="~/Content/Home/home.primary.css" rel="stylesheet" />

<img src="~/Content/GolfCourses/AirCaddyLogoNoBackgroundweb.jpg" alt="AirCaddyLogo" style="width:50%;height:25%;">

<br></br>

<address><strong>
    109 University Sq.<br />
    Erie, PA 16541<br />
    <abbr title="Phone">P:</abbr>
    814.871.7000
</strong></address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">AirCaddyApp@gmail.com</a><br />
</address>