@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/Home/home.primary.css" rel="stylesheet" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<div id="mainArea" style=""class="bg-overlay">
    <!-- Header with full-height image -->
    
    
    <header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">   
     
    </header>  
    <div class="AirCaddyLogo">
        <center><img src="~/Content/GolfCourses/AirCaddyLogoNoBackgroundNEW.png"  alt="AirCaddyLogo" width="50%" height="30%"></center>
    </div>
    
    
    <div class="w3-display-left w3-text-black" style="padding: 48px">  
        
    </div> 
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <center><button onclick="navigateToExploreCourses()" class="HomeBtn"><span>Explore our courses here! </span></button></center>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
</div>
<br></br>

<div class="w3-content w3-container w3-padding-64" id="about">
    <h3 class="w3-center">ABOUT AIRCADDY</h3>
    <p class="w3-center"><em>Who we are</em></p>
    <p class="AboutParagraph">    AirCaddy is a brand-new web application that is intended to improve course knowledge for every level of golfer. At AirCaddy, we implement state of the art drone footage to record each hole of our partnered golf courses so that the golfer can identify any slopes, sand pits, or water hazards that would not normally be seen from the tee box. With this implementation, golfers will be able to improve their course knowledge with just a few simple clicks.  </p>
    
    <!-- Container (Contact Section) -->
    <div class="w3-content w3-container w3-padding-64" id="contact">
        <h3 class="w3-center">CONTACT US</h3>
        <p class="w3-center"><em>We would love your feedback!</em></p>

        <div class="w3-row w3-padding-32 w3-section">
            <div class="w3-col m4 w3-container">
                <!-- Add Logo -->
                <br></br>
                <img src="~/Content/GolfCourses/AirCaddyLogoNoBackgroundweb.jpg" class="w3-round w3-image" alt="AirCaddyLogo" width="500" height="333">
            </div>
            <div class="w3-col m8 w3-panel">
                <div class="w3-large w3-margin-bottom">
                    <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i>Gannon University<br>
                    <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i>Erie, PA 16541<br>
                    <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Email: AirCaddyApp@gmail.com<br>
                </div>
                <br></br>
            </div>
        </div>
    </div>
       
</div>

<script>
    $(document).ready(function () {
        $("#mainArea").parent().removeClass("container");
        $("#mainArea").parent().removeClass("body-content");
    });

    function navigateToExploreCourses() {
        var browseUrl = '@Url.Action("Browse", "GolfCourses")';
        window.location.href = browseUrl;
    }
</script>
