@{
    ViewBag.Title = "Home Page";
}

<style>
    .code_container {
        width: 100%;
        overflow: auto;
        background-color: #efefef;
        margin-bottom: 1em;
        padding: 1em;
        border: 3px solid #989898;
        overflow: hidden;
        /*border-right: 5px solid #989898;*/
    }    
    .code_container:hover {
        background-color: #ffe4c4;
        cursor: pointer;
    }
</style>

<div class="text-center">
    <h2>AirCaddy - Explore New Courses</h2>
    <hr/>
</div>

<div class="container col-xs-12">
    <div style="padding-bottom: 1%" class="col-xs-12 col-lg-12 col-md-1 2row">
        <div class="col-xs-12 col-md-6 col-lg-6">
            <div class="code_container">
                <div class="row">
                    <div class="col-xs-4 col-md-3 col-lg-3">
                        <p><strong>Course: </strong></p>
                    </div>
                    <div class="col-xs-8 col-md-9 col-lg-9">
                        <p>Country Club of Rochester</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-md-3 col-lg-3">
                        <p><strong>Address: </strong></p>
                    </div>
                    <div class="col-xs-8 col-md-9 col-lg-9">
                        <p>2935 East Ave, Rochester, NY 14610</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-md-3 col-lg-3">
                        <p><strong>Phone: </strong></p>
                    </div>
                    <div class="col-xs-8 col-md-9 col-lg-9">
                        <p>(585) 381-1800</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-md-3 col-lg-3">
                        <p><strong>Type: </strong></p>
                    </div>
                    <div class="col-xs-8 col-md-9 col-lg-9">
                        <p>Private</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6">
            <div class="code_container">
                <div class="row">
                    <div class="col-xs-4 col-md-3 col-lg-3">
                        <p><strong>Course: </strong></p>
                    </div>
                    <div class="col-xs-8 col-md-9 col-lg-9">
                        <p>Country Club of Rochester</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-md-3 col-lg-3">
                        <p><strong>Address: </strong></p>
                    </div>
                    <div class="col-xs-8 col-md-9 col-lg-9">
                        <p>2935 East Ave, Rochester, NY 14610</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-md-3 col-lg-3">
                        <p><strong>Phone: </strong></p>
                    </div>
                    <div class="col-xs-8 col-md-9 col-lg-9">
                        <p>(585) 381-1800</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-md-3 col-lg-3">
                        <p><strong>Type: </strong></p>
                    </div>
                    <div class="col-xs-8 col-md-9 col-lg-9">
                        <p>Private</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>