@model IEnumerable<AirCaddy.Domain.ViewModels.GolfCourses.GolfCourseViewModel>

@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/Home/home.coursegallery.css" rel="stylesheet"/>

<div class="text-center">
    <h2>AirCaddy - Explore New Courses</h2>
    <hr/>
</div>


<div style="padding-bottom: 3%" class="row col-xs-12">
    <form class="navbar-form" role="search">
        <div class="input-group pull-left col-xs-12 col-md-8 col-lg-8">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input class="form-control" placeholder="Search by Course Name..." id="srch-term" type="text" data-bind="value: searchTerm, valueUpdate: 'afterkeydown'"/>
        </div>
        <div class="col-xs-12 col-md-4 col-lg-4">
            <h4 style="text-align: right"><strong>Currently showing <span data-bind="text: numberShowing"></span> courses.</strong></h4>            
        </div>
    </form>       
</div>

<div class="container col-xs-12">
    <div data-bind="foreach: coursesDisplayList" class="col-xs-12 col-lg-12 col-md-12 row">
        <div class="col-xs-12 col-md-6 col-lg-6">
            <div data-bind="click: exploreCourse" class="course_container">
                <div class="header_container">
                    <div class="row text-center">
                        <h4 data-bind="text: name"></h4>
                    </div>
                </div>
                <div class="code_container">
                    <div class="row">
                        <div class="col-xs-4 col-md-3 col-lg-3">
                            <p><strong>Address: </strong>
                            </p>
                        </div>
                        <div class="col-xs-8 col-md-9 col-lg-9">
                            <p data-bind="text: address"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-md-3 col-lg-3">
                            <p><strong>Phone: </strong>
                            </p>
                        </div>
                        <div class="col-xs-8 col-md-9 col-lg-9">
                            <p data-bind="text: phoneNumber"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-md-3 col-lg-3">
                            <p><strong>Type: </strong>
                            </p>
                        </div>
                        <div class="col-xs-8 col-md-9 col-lg-9">
                            <p data-bind="text: type"></p>
                        </div>
                    </div>
                </div>               
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/App/Home/home.course.js"></script>
<script src="~/Scripts/App/Home/home.coursegallery.viewmodel.js"></script>
<script>
    $(document).ready(function() {
        var model = @Html.Raw(Json.Encode(Model));
        var courseGalleryVm = new courseGalleryViewModel(model);
        ko.applyBindings(courseGalleryVm);
    });
</script>