@model AirCaddy.Domain.ViewModels.Privileges.PrivilegeRequestViewModel
    
@{
    ViewBag.Title = "MakeRequest";
}

<link href="~/Content/Privileges/privileges.makerequest.css" rel="stylesheet"/>

<div class="col-xs-12 text-center">
    <h1 id="requestTitle">Become a Golf Course Owner</h1>
    <hr/>
</div>

<div class="col-xs-12">
    <p><strong>NOTE:  </strong>Do you own a golf course?  Make a request below to becaome the owner of a golf course and manage information relating to it such as video footage,
        review data, and advertising your course and business!</p>
</div>

<div id="requestSubmissionsArea" class="container body-content">
    @Html.AntiForgeryToken()

    <div data-bind="visible: errorShow" class="alert alert-danger fade in">
        <a href="#" class="close" data-bind="click: errorClose" data-dismiss="alert">&times;</a>
        <strong>Error! </strong><span data-bind="text: errorPopUpMessage"></span>
    </div>

    <div data-bind="visible: successShow" class="alert alert-success fade in">
        <a href="#" class="close" data-bind="click: successClose" data-dismiss="alert">&times;</a>
        <strong>Success! </strong><span data-bind="text: successPopUpMessage"></span>
    </div>

    <div>
        <div class="form-group">
            <p>
                Destination country:
                <select data-bind="options: states, value: selectedState"></select>
            </p>
            
            <p data-bind="text: selectedState"></p>
            <!--<div class="col-xs-12">
                <label>Course Name</label>
                <p class="text-danger" data-bind="text: eventNameErrorMssg"></p>
                <input data-bind="value: eventName" class="form-control" id="EventName" name="EventName" type="text" value=""/>
            </div>
            <br/>
            <div class="col-xs-12">
                <label>Event Description</label>
                <p class="text-danger" data-bind="text: eventDescriptionErrorMssg"></p>
                <textarea data-bind="value: eventDescription" class="form-control" id="EventDescription" name="EventDescription" type="" value=""></textarea>
            </div>
            <br/>
            <div class="col-xs-12">
                <label>Date</label>
                <p class="text-danger" data-bind="text: startDateTimeErrorMssg"></p>
                <input data-bind="value: startDateTime" class="form-control" type="text" id="datepicker" name="StartDateTime" value=""/>
            </div>
            <br/>
            <div class="col-xs-12">
                <label>Number of Hours</label>
                <p class="text-danger" data-bind="text: numberOfHoursErrorMssg"></p>
                <input data-bind="value: numberOfHours" class="form-control" id="NumberOfHours" name="NumberOfHours" type="number" value=""/>
            </div>-->
        </div>
    </div>
    <br />
    <div class="col-xs-12 text-center">
        <input data-bind="click: submit" style="width: 25%" class="btn btn-success" type="submit" name="Submit" />
    </div>
</div>

<script src="~/Scripts/App/Privileges/privileges.makerequest.viewmodel.js"></script>
<script>
    $(document).ready(function () {
        var tokenHeaderValue = $('[name=__RequestVerificationToken]').val();

        var submitVm = new makeRequestViewModel(tokenHeaderValue);
        ko.applyBindings(submitVm, document.getElementById("requestSubmissionsArea"));
    });
</script>