@model AirCaddy.Domain.ViewModels.Privileges.PrivilegeRequestViewModel
    
@{
    ViewBag.Title = "MakeRequest";
}

<link href="~/Content/Privileges/privileges.makerequest.css" rel="stylesheet"/>

<div class="col-xs-12 text-center">
    <h1 id="requestTitle">Become a Golf Course Owner</h1>
    <hr/>
</div>

<div class="col-xs-12">
    <p><strong>NOTE:  </strong>Do you own a golf course?  Make a request below to becaome the owner of a golf course and manage information relating to it such as video footage,
        review data, and advertising your course and business!</p>
</div>

<div id="requestSubmissionsArea" class="container body-content">
    @Html.AntiForgeryToken()

    <div data-bind="visible: errorShow" class="alert alert-danger fade in">
        <a href="#" class="close" data-bind="click: errorClose" data-dismiss="alert">&times;</a>
        <strong>Error! </strong><span data-bind="text: errorPopUpMessage"></span>
    </div>

    <div data-bind="visible: successShow" class="alert alert-success fade in">
        <a href="#" class="close" data-bind="click: successClose" data-dismiss="alert">&times;</a>
        <strong>Success! </strong><span data-bind="text: successPopUpMessage"></span>
    </div>

    <div class="col-xs-12 container">
        <div class="form-group">
            <label>Course Name</label>
            <p class="text-danger" data-bind="text: courseNameErrorMssg"></p>
            <input data-bind="value: courseName" class="form-control" id="CourseName" name="CourseName" type="text" value=""/>
        </div>
        <div class="form-group">
            <label>Course Primary Contact Number (- No dashses -)</label>
            <p class="text-danger" data-bind="text: coursePrimaryContactErrorMssg"></p>
            <input data-bind="value: coursePrimaryContact" class="form-control" id="CoursePrimaryContact" name="CoursePrimaryContact" type="number" maxlength="10"/>
        </div>
        <div class="form-group">
            <label>Course Address</label>
            <p class="text-danger" data-bind="text: courseAddressLineErrorMssg"></p>
            <input data-bind="value: addressLine" class="form-control course-address" id="CourseAddress" name="CourseAddress" type="text"/>
        </div>
        <div class="form-group row">
            <div class="col-md-2 col-lg-2">
                <label class="inline-location-ele">City</label>
                <p class="text-danger inline-location-ele" data-bind="text: courseCityErrorMssg"></p>
                <input data-bind="value: city" class="form-control inline-location-ele" type="text" id="test" name="test"/>
            </div>
            <div class="col-md-2 col-lg-2">
                <label class="inline-location-ele">ZIP Code</label>
                <p class="text-danger inline-location-ele" data-bind="text: courseZipErrorMssg"></p>
                <input data-bind="value: zip" class="form-control inline-location-ele" type="number" id="tester" name="tester" maxlength="5"/>   
            </div>
            <div class="col-md-2 col-lg-2">
                <label class="inline-location-ele">State</label>
                <p class="text-danger inline-location-ele" data-bind="text: courseStateCodeErrorMssg"></p>
                <select class="form-control inline-location-ele"data-bind="options: states, value: selectedState"></select>
            </div>                
        </div>
        <div class="form-group row">
            <div class="col-md-2 col-lg-2">
                <label><input type="radio" value="Public" data-bind="checked: courseType"/>  Public  </label>                
            </div>
            <div class="col-md-2 col-lg-2">
                <label><input type="radio" value="Private" data-bind="checked: courseType"/>  Private  </label>       
            </div>
            <div class="col-md-2 col-lg-2">   
                <label><input type="radio" value="Both" data-bind="checked: courseType"/>  Both  </label> 
            </div>
        </div>
        <div class="form-group row col-lg-4 col-xs-12">
            <label>Reason</label>
            <p class="text-danger" data-bind="text: courseReasonErrorMssg"></p>
            <textarea data-bind="value: reason" class="form-control course-reason" id="CourseReason" name="CourseReason" type="text"></textarea>
        </div>
    </div>
    <br />
    <div class="col-xs-12 col-lg-12 text-center row">
        <input data-bind="click: submit" class="btn btn-lg btn-success" type="submit" name="Submit" />
    </div>
</div>

<script src="~/Scripts/App/Privileges/privileges.makerequest.viewmodel.js"></script>
<script>
    $(document).ready(function () {
        var tokenHeaderValue = $('[name=__RequestVerificationToken]').val();

        var submitVm = new makeRequestViewModel(tokenHeaderValue);
        ko.applyBindings(submitVm, document.getElementById("requestSubmissionsArea"));
    });
</script>