

.carousel-inner img {
    background-color: white;
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}

.bg-overlay {

}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}

.no-footage-ele-container {
    width: 100%;
    height: 320px;
    background-color: darkgrey;
    background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url("golfcourses.defaultbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-top: 50px;
}

.no-footage-ele2 {
    width: 100%;
    background-color: darkgrey;
}

.no-footage-ele-inside-content {
    color: darkgreen;
}

.course-difficulty-summary-sect {
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: darkgrey;
}

.make-rating-sect {
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: white;
}